* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	background: #f2f2f2;
}

body .capsula {
	background: url(../img/bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	margin: 25px auto;
	padding: 95px;
}

body .capsula h1,
body .capsula h2 {
	text-align: center;
	margin: 0;
	padding: 0;
	color: #fff;
	font-family: "roboto", San-serif;
	text-transform: uppercase;
}

body .capsula h1 {
	font-size: 45px;
}

body .capsula h2 {
	font-size: 26px;
}

@media screen and (max-width: 800px){
	body .capsula h1 {
		font-size: 35px;
		line-height: 35px;
		margin-bottom: 10px;
	}

	body .capsula .under {
		text-decoration: none;
	}

	body .capsula h2 {
		font-size: 20px;
		text-transform: capitalize;
		line-height: 20px;
	}	
}

@media screen and (max-width: 400px){
	body .capsula h1 {
		font-size: 30px;
		line-height: 32px;
		margin-bottom: 15px;
	}
	
	body .capsula h2 {
		font-size: 17px;
		line-height: 18px;
	}
}